* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1 {
    color: #624296;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
  }
  h2,
  p {
    color: #685399;
    font-weight: 500;
    opacity: 0.8;
  }
  
  h3 {
    color: #624296;
    font-weight: 600;
    opacity: 0.8;
  }
  
  main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #292828, #505050);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .glass {
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 1;
    backdrop-filter: blur(2rem);
    display: flex;
  }
  .dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
  }
  .link {
    display: flex;
    margin: 2rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
  }
  .link h2 {
    padding: 0rem 2rem;
  }
  
  .games {
    flex: 2;
  }
  
  /* GAMES */
  .status {
    margin-bottom: 3rem;
  }
  
  .status input {
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border: none;
    width: 50%;
    padding: 0.5rem;
    border-radius: 2rem;
  }
  
  .games {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .card {
    display: flex;
    background: linear-gradient(
      to left top,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.5)
    );
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    justify-content: space-between;
  }
  .card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .percentage {
    font-weight: bold;
    background: linear-gradient(to right top, #2f5e41, #417256);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .add {
    border-radius: 15%;
    height: 25px;
    width: 25px;
    border: none;
    background-color: #624296;
  }

  .add h2 {
    color: white;
  }

   /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background: linear-gradient(to right top, #1d1c1cb6, #302f2fa1);
}

/* Modal Content/Box */
.modal-content {
  background: linear-gradient(
      to left top,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.6)
    );
  border-radius: 2rem;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

.modal-buttons {
  display: flex;
  justify-content: space-evenly;
}

.modal-button {
  border: none;
  border-radius: 10%;
  font-size: 18px;
  height: 2rem;
  color: white;
}

.modal-add-button {
  border: none;
  border-radius: 30%;
  font-size: 18px;
  height: 1.5rem;
  background-color: #624296;
  color: white;
  width: 1.5rem;
}

.modal-split {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.modal-input {
  width: 12rem;
  border: none;
  border-radius: 2rem;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
}

.modal-sub-div {
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.close {
  width: 5rem;
  background-color: #ee7177;
}

.submit {
  width: 5rem;
  background-color: #68c9a4;
}

ul{
  list-style-type:none;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;

}
ul li{
  display: flex;
  padding: 5px 10px;
  color:white;
  margin: 0 3px;
  justify-content: start;
  flex-direction: row;
}

li button {
  border: none;
  border-radius: 40%;
  font-size: 16px;
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 5px;
  color: white;
  background-color: #624296;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.scrolly {
  max-height: 300px;
  overflow: auto;
}

.progress {
  border: none;
  border-radius: 10%;
  font-size: 16px;
  height: 2rem;
  width: 4rem;
  margin-right: 5px;
  color: white;
}

.progress-done {
  background-color: #68c9a4;
}

.progress-wip {
  background-color: #ee7177;
}

 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ee7177;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #68c9a4;
}

input:focus + .slider {
  box-shadow: 0 0 1px #68c9a4;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

/* .done-text {
  color: #68c9a4;
}

.wip-text {
  color: #ee7177;
} */